* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0d0d0d;
    color: #fff;
}

header {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(45deg, #1f1f1f, #1818ff);
}

header h1 {
    font-size: 50px;
}

header span {
    color: #00ffea;
}

header p {
    margin-top: 10px;
    font-size: 22px;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    background: #00ffea;
    color: #000;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

#services {
    padding: 60px 20px;
    text-align: center;
}

#services h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.service-box {
    background: #1f1f1f;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.service-box h3 {
    color: #00ffea;
    margin-bottom: 15px;
}

#contact {
    padding: 50px 20px;
    background: #121212;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #aaa;
}
